In [23]:
import pandas as pd
import numpy as np
import os

# Define the project folder path
project_folder = r"/Users/cem/Desktop/Data Immersion/Achievement 4_Project"

# Define the data folder path
data_folder = os.path.join(project_folder, "Data", "4.3_orders_products")

# Loading products.csv
products_path = os.path.join(data_folder, "products.csv")
df_prods = pd.read_csv(products_path, index_col=False)

# Load orders.csv
orders_path = os.path.join(data_folder, "orders.csv")
df_ords = pd.read_csv(orders_path, index_col=False)

# Checking for missing values in df_prods
print("Missing values in each column:")
print(df_prods.isnull().sum())

Missing values in each column:
product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [24]:
# Checking for duplicate rows
print("Number of duplicate rows:", df_prods.duplicated().sum())

Number of duplicate rows: 5

In [25]:
# Removing duplicate rows
df_prods = df_prods.drop_duplicates()

In [26]:
# Checking data types
print("Data types:")
print(df_prods.dtypes)

Data types:
product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [27]:
# Checking for negative prices
if 'prices' in df_prods.columns:
    print("Negative prices:")
    print(df_prods[df_prods['prices'] < 0])
else:
    print("No 'prices' column found in df_prods.")

Negative prices:
Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

In [28]:
# Q2: Running df.describe() on df_ords
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## Question 2: Analysis of df.describe() Output

Since the numbers are very large and I couldn't find a way to convert them directly, I'm not sure how to read them.

In [29]:
# Q3. Checking for mixed-type data in your df_ords dataframe.

print(df_ords.dtypes)

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [30]:
# Checking object-type columns for mixed types
for col in df_ords.columns:
    if df_ords[col].dtype == 'object':
        print(f"\nChecking column '{col}':")
        print(df_ords[col].apply(type).value_counts())

Checking column 'eval_set':
eval_set
<class 'str'>    3421083
Name: count, dtype: int64

## Question 4: Mixed-Type Data

After checking the df_ords dataframe for mixed-type data, only the eval_set column was identified as an object data type. 

However, upon inspecting its contents, all values in this column are of the same type: <class 'str'>. 

Therefore, no corrections are needed since there are no mixed types in this column.

In [31]:
# Q5: Checking for missing values
print(df_ords.isnull().sum())

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

## Question 5: Missing Values Check

After checking for missing values in the df_ords dataframe, only the days_since_prior_order column was found to contain missing values. All other columns are complete.

The missing values in days_since_prior_order likely correspond to customers' first-ever orders, for which there is no previous order to calculate the days since prior order. This is consistent with expectations and does not indicate an issue with the data.

No additional action is required for these missing values, as they are a natural outcome of the dataset's structure.

In [32]:
# Q6: Addressing the missing values
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].fillna(0)

In [33]:
print(df_ords.isnull().sum())

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

## Question 6: Handling Missing Values

To handle the missing values in the days_since_prior_order column of the df_ords dataframe, I chose to fill them with 0. This is because missing values in this column most likely represent the customer's first order, for which there is no previous order to calculate the days since prior order. By filling these missing values with 0, we maintain the logical consistency of the data without introducing bias.

In [34]:
# Q7: Checking for duplicate rows in df_ords
print("Number of duplicate rows in df_ords:", df_ords.duplicated().sum())

Number of duplicate rows in df_ords: 0

## Question 7: Checking for Duplicate Values

After checking for duplicate rows in the df_ords dataframe, 0 duplicate rows were found.

In [35]:
# Q8: Removing duplicate rows in df_ords
df_ords = df_ords.drop_duplicates()

## Question 8: Addressing Duplicate Values

To address duplicate values in the df_ords dataframe, I removed duplicate rows using the drop_duplicates() method. 

This ensures that each order record is unique and prevents double-counting or skewed analysis results.

This method is appropriate because duplicate rows could arise from repeated data entry or data ingestion errors.

In [37]:
# Q9: Export final, cleaned dataframes
prepared_data_folder = os.path.join(project_folder, 'Data', 'Prepared Data')

# Export cleaned df_prods
products_export_path = os.path.join(prepared_data_folder, "products_checked.csv")
df_prods.to_csv(products_export_path, index=False)

# Export cleaned df_ords
orders_export_path = os.path.join(prepared_data_folder, "orders_checked.csv")
df_ords.to_csv(orders_export_path, index=False)