In [1]:
import pandas as pd

# Orders - original data
orders_raw = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/orders.csv')

# Check shape
orders_raw.shape

(3421083, 7)

In [2]:
# Orders - after consistency checks
orders = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/orders_checked.csv')

orders.shape

(3421083, 7)

In [4]:
# Orders Products Prior - Original Data
opp_original = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/orders_products_prior.csv')

print(opp_original.shape)

(32434489, 4)

In [5]:
# Orders Products Prior - after consistency checks
orders_prods_active = pd.read_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/ords_prods_active.pkl')

print(orders_prods_active.shape)

(30993489, 30)

In [6]:
# Original products data
products = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/products.csv')

print(products.shape)

(49693, 5)

In [10]:
# products - after consistency checks
products_clean = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/products_checked.csv')
print(products_clean.shape)

(49688, 5)

In [11]:
# original customer data
customers = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/customers.csv')

print(customers.shape)

(206209, 10)

In [13]:
# customer data after consistency checks
customers_checked = pd.read_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/final_dataset_part1.pkl')

print("Shape of customer data (after consistency checks):", customers_checked.shape)

customers_checked.head()

Shape of customer data (after consistency checks): (30993489, 35)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,region,avg_price_per_user,spending_flag,order_count,exclusion_flag,baby_flag,daytime_flag,avg_income,avg_age,customer_profile
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,South,6.367797,Low spender,10,Active,0,Day,40423,31,Family bulk shopper
1,2539329,1,prior,1,2,8,0.0,14084,2,0,...,South,6.367797,Low spender,10,Active,0,Day,40423,31,Family bulk shopper
2,2539329,1,prior,1,2,8,0.0,12427,3,0,...,South,6.367797,Low spender,10,Active,0,Day,40423,31,Family bulk shopper
3,2539329,1,prior,1,2,8,0.0,26088,4,0,...,South,6.367797,Low spender,10,Active,0,Day,40423,31,Family bulk shopper
4,2539329,1,prior,1,2,8,0.0,26405,5,0,...,South,6.367797,Low spender,10,Active,0,Day,40423,31,Family bulk shopper

In [14]:
# orders + products combined
orders_products_combined = pd.read_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/orders_products_combined.pkl')

print("Shape of orders_products_combined:", orders_products_combined.shape)

orders_products_combined.head()

Shape of orders_products_combined: (32434489, 10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,0.0,196,1,0
1,2539329,1,prior,1,2,8,0.0,14084,2,0
2,2539329,1,prior,1,2,8,0.0,12427,3,0
3,2539329,1,prior,1,2,8,0.0,26088,4,0
4,2539329,1,prior,1,2,8,0.0,26405,5,0

In [17]:
# orders products merged
orders_products_merged = pd.read_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/ords_prods_merge.pkl')

# Print shape
print("Shape of orders_products_merged:", orders_products_merged.shape)

# Preview the dataset
orders_products_merged.head()

Shape of orders_products_merged: (32435059, 15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [18]:
# orders products all
orders_products_all = pd.read_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/ords_prods_merged_final.pkl')

print("Shape of orders_products_all:", orders_products_all.shape)

orders_products_all.head()

Shape of orders_products_all: (32435059, 25)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_label,busiest_day,day_type,busiest_period_of_day,gender,state,age,num_dependents,marital_status,income
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,Mid-range product,Least busy day,Average days,Average orders,Female,Alabama,31,3,married,40423
1,2539329,1,prior,1,2,8,0.0,14084,2,0,...,Mid-range product,Least busy day,Average days,Average orders,Female,Alabama,31,3,married,40423
2,2539329,1,prior,1,2,8,0.0,12427,3,0,...,Low-range product,Least busy day,Average days,Average orders,Female,Alabama,31,3,married,40423
3,2539329,1,prior,1,2,8,0.0,26088,4,0,...,Low-range product,Least busy day,Average days,Average orders,Female,Alabama,31,3,married,40423
4,2539329,1,prior,1,2,8,0.0,26405,5,0,...,Low-range product,Least busy day,Average days,Average orders,Female,Alabama,31,3,married,40423

In [21]:
# Checks missing values in orders
orders.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [20]:
# Checks duplicates in orders
orders.duplicated().sum()

np.int64(0)

In [22]:
# Check missing values in products
products.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [23]:
# Check duplicates in products
products.duplicated().sum()

np.int64(5)

In [25]:
# Checks number of fully duplicated rows
orders_prods_active.duplicated().sum()

np.int64(0)

In [26]:
# Check missing values in products and orders prior
orders_prods_active.isnull().sum()

order_id                      0
user_id                       0
eval_set                      0
order_number                  0
order_dow                     0
order_hour_of_day             0
days_since_prior_order        0
product_id                    0
add_to_cart_order             0
reordered                     0
product_name              28919
aisle_id                   1947
department_id              1947
prices                     1947
_merge                        0
price_label                   0
busiest_day                   0
day_type                      0
busiest_period_of_day         0
gender                        0
state                         0
age                           0
num_dependents                0
marital_status                0
income                        0
region                        0
avg_price_per_user            0
spending_flag                 0
order_count                   0
exclusion_flag                0
dtype: int64

In [28]:
# Checks number of customers
customers.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [29]:
customers.duplicated().sum()

np.int64(0)