In [1]:
## Creating 'price_label' Column
import pandas as pd

df = pd.read_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/ords_prods_merge.pkl')

def label_price(row):
    if row < 5:
        return 'Low-range product'
    elif row >= 5 and row < 15:
        return 'Mid-range product'
    else:
        return 'High-range product'

df['price_label'] = df['prices'].apply(label_price)

print(df['price_label'].value_counts())

price_label
Mid-range product     22017652
Low-range product      9900435
High-range product      516972
Name: count, dtype: int64

In [2]:
## Creating 'busiest_day' Column                                         
df['busiest_day'] = df['order_dow'].apply(lambda x: 'Busiest day' if x in [0, 1] else 'Least busy day')

print(df['busiest_day'].value_counts())

busiest_day
Least busy day    20559300
Busiest day       11875759
Name: count, dtype: int64

In [3]:
## Q2
day_counts = df['order_dow'].value_counts().sort_values(ascending=False)
print(day_counts)

order_dow
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [4]:
# Get the 2 busiest days
busiest_days = day_counts.head(2).index.tolist()

# Get the 2 slowest days
slowest_days = day_counts.tail(2).index.tolist()

## Creating 'day_type' Column

def label_day(day):
    if day in busiest_days:
        return 'Busiest days'
    elif day in slowest_days:
        return 'Slowest days'
    else:
        return 'Average days'

df['day_type'] = df['order_dow'].apply(label_day)
df['day_type'].value_counts()

day_type
Average days    12927862
Busiest days    11875759
Slowest days     7631438
Name: count, dtype: int64

In [5]:
# Q3: Cross-tab to verify which days were labeled what
pd.crosstab(df['order_dow'], df['day_type'])

day_type   Average days  Busiest days  Slowest days
order_dow
0                     0       6209808             0
1                     0       5665951             0
2               4217868             0             0
3                     0             0       3844175
4                     0             0       3787263
5               4209603             0             0
6               4500391             0             0

## Verifying day_type Column

I created the day_type column to label the top 2 busiest and bottom 2 slowest days of the week based on order volume. 

### Observations:
- The column includes three categories: **Busiest days**, **Slowest days**, and **Average days**.
- The busiest days account for ~11.9 million orders, while the slowest days account for ~7.6 million.
- A cross-tabulation confirmed that the correct order_dow values were labeled as expected.
- This new column helps us quickly segment order behavior by day type for further analysis or visualization.

In [6]:
# Q4

hour_counts = df['order_hour_of_day'].value_counts().sort_values(ascending=False)
print(hour_counts)

order_hour_of_day
10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: count, dtype: int64

In [9]:
most_orders = hour_counts.head(5).index.tolist()
fewest_orders = hour_counts.tail(5).index.tolist()

def label_hour(hour):
    if hour in most_orders:
        return 'Most orders'
    elif hour in fewest_orders:
        return 'Fewest orders'
    else:
        return 'Average orders'

df['busiest_period_of_day'] = df['order_hour_of_day'].apply(label_hour)

df['busiest_period_of_day'].value_counts()

busiest_period_of_day
Average orders    18534518
Most orders       13522650
Fewest orders       377891
Name: count, dtype: int64

In [10]:
print(df['busiest_period_of_day'].value_counts(normalize=True).round(2))

busiest_period_of_day
Average orders    0.57
Most orders       0.42
Fewest orders     0.01
Name: proportion, dtype: float64

In [11]:
import os
print(os.listdir('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/'))

['orders_products_combined.pkl', 'orders_checked.csv', 'orders_wrangled.csv', 'df_merged.csv', 'departments_wrangled.csv', 'products_checked.csv', 'ords_prods_merge.pkl']

In [12]:
df.to_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/ords_prods_merged_labeled.pkl')