In [8]:
import pandas as pd

file_path = '/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/orders_products_combined.pkl'

df_merged = pd.read_pickle(file_path)

df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,0.0,196,1,0
1,2539329,1,prior,1,2,8,0.0,14084,2,0
2,2539329,1,prior,1,2,8,0.0,12427,3,0
3,2539329,1,prior,1,2,8,0.0,26088,4,0
4,2539329,1,prior,1,2,8,0.0,26405,5,0

In [3]:
print(df_merged.shape)

(32434489, 10)

In [10]:
products = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/products_checked.csv')

df_merged.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [7]:
print(products.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [12]:
df_final = pd.merge(
    df_merged,
    products,
    on='product_id',
    how='left'
)
print(df_final.shape)

(32435059, 14)

In [14]:
df_final.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77.0,7.0,9.0
1,2539329,1,prior,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,2539329,1,prior,1,2,8,0.0,12427,3,0,Original Beef Jerky,23.0,19.0,4.4
3,2539329,1,prior,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,2539329,1,prior,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0

In [4]:
## Merge operation
import pandas as pd

file_path = '/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/orders_products_combined.pkl'

products = pd.read_csv('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/products_checked.csv')
df_merged = pd.read_pickle(file_path)

df_final = pd.merge(
    df_merged,                    # orders_products_combined
    products,                     # cleaned products DataFrame
    on='product_id',
    how='left',
    indicator=True
)

print(df_final['_merge'].value_counts())

_merge
both          32433030
left_only         2029
right_only           0
Name: count, dtype: int64

In [5]:
df_final.to_pickle('/Users/cem/Desktop/Data Immersion/Achievement 4_Project/Data/Prepared Data/ords_prods_merge.pkl')